
#timeLabel {
  font-size: 50;
  font-family: System-Bold;
  text-length: 8;
  text-anchor: middle;
  x: 50%;
  y: 50%;
  fill: white;
}

#dateLabel {
  font-size: 30;
  font-family: System-Bold;
  text-length: 10;
  text-anchor: middle;
  x: 50%;
  y: 35%;
  fill: lightgray;
}

#heartrateLabel {
  font-size: 25;
  font-family: System-Bold;
  text-length: 10;
  text-anchor: middle;
  x: 50%;
  y: 61%;
  fill: white;
}

#hr1 {
  visibility: visible;
}

#hr2 {
 visibility: hidden;
}

#batteryLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 20;
  text-anchor: start;
  x: 15;
  y: 25;
  fill: white;
}

#stepsLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 20;
  text-anchor: start;
  x: 15;
  y: 285;
  fill: white;
}

#distanceLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 20;
  text-anchor: end;
  x: 285;
  y: 285;
  fill: white;
}


